/*Rachel Joyce's Personal Website Cascading Style Sheet*/


/*

Begin General Styling

*/

html{
	background-color: #EEEEEE;
}
body{
	width: 100%;
	margin: 0;
}
header {
	background-color: #000000;
	height: 6em;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 15;	
}
h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 3.5em;
}
.SectionHeader{
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 20px;
}
.Section {
	padding-bottom: 50px;
	display: block;
}
.leftContainer {
	width: 35%;
	margin-left: 10%;
	margin-right: 5%;
	float:	left;
}
.rightContainer {
	width: 35%;
	margin-right: 10%;
	margin-left: 5%;
	float:	right;	
}
.container {
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}
@media screen and (max-width: 900px){
	.leftContainer, .rightContainer{
		width: 80%;
		margin-left: 10%;
		margin-right: 10%;
		text-align: left;
	}
}

h2, h3, h4, ol, ul, li {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	margin-top: 0;
	margin-bottom: 0;
}
h2 {
	font-size: 2em;
}
h3 {
	font-size: 1.2em;
}
h4 {
	font-size: 1em;
}
p {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 1em;
	margin: 0;
}

.anchor{
  display: block;
  height: 96px; /*same height as header*/
  margin-top: -96px; /*same height as header*/
  visibility: hidden;
}

/*

End General Styling



Begin Navigation Styling

*/

nav {
	text-align: center;
	font-size: 3em;
	width:100%;
	height:100%;
	/*box-shadow: 0px 1px 10px 1px #000000;*/
		-webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
}
nav a{
	font-family: Arial, Helvetica, sans-serif;
	font-size: .5em;
	text-decoration: none;
	display: inline-block;
	width: 20%;
    text-align: center;
    vertical-align: middle;
	border-radius: 1em;
    height: 96px;
    position: relative;
}
nav a p{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 45px;
    margin: auto;
}
nav a:link {color:#FFFFFF;}
nav a:visited {color:#FFFFFF;}
nav a:hover {color:#FFFFFF;}
nav a:active {color:#FFFFFF;}


#logo
{
	background-image: url('../img/logos/header/navLogoDesktop.jpg');
	border-radius: 0em;
	float: left;
	width: 270px;
}
@media screen and (max-width: 750px) {
	#logo
	{
		background-image: url('../img/logos/header/navLogoMobile.jpg');
		width: 100px;
	}
}

#selectedNavigationID
{
	background-color: #888888;
	height: 50%;
	border-radius: 1em;
}
#threebar
{
	background-color: #000000;
	height: 65px;
	width: 50px;
	padding: 14px;
	position: absolute;
    right: 5px;
    top: 0px;
    bottom: 5px;
    display: none;
    cursor: pointer;
}
.bar
{
	background-color: #FFFFFF;
	height: 15%;
	width: 100%;
	margin-top: 14%;
	margin-bottom: 14%;
	display: none;
}
@media screen and (max-width: 750px) {
	.bar
	{
		display: block;
	}
	#threebar
	{
		display: inline;
	}
	nav a p {
		display: none;
	}
	nav a {
		display: none;
	}
	#selectedNavigationID
	{
		display: none;
	}
	#logo
	{
		display: inline;
	}
}
.mobilenav
{
	background-color: #000000;
	position: absolute;
	top: 96;
	right: 0;
	display: none;
	z-index: 10;
}
.mobilenav a
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	text-decoration: none;
	display: block;
	width: 150px;
	height: 30px;
    text-align: center;
    z-index: 11;
}
.mobilenav a:link {color:#FFFFFF;}      /* unvisited link */
.mobilenav a:visited {color:#FFFFFF;}  /* visited link */
.mobilenav a:hover {color:#FFFFFF;}  /* mouse over link */
.mobilenav a:active {color:#FFFFFF;}  /* selected link */

/*

End Navigation Styling


Begin Hero Section Styling

*/
#hero
{
	background-color: #ffffff;
	margin-top: 100px;
}

#hero:after { 
	content: " "; display: block; clear: both;
}

/* 

End Hero Section Styling


Begin Resume Section Styling

*/

#resumeStyle {
	background-color: #1F1F1F;
	font: white;
}
#resumeStyle * {
	color: white;
}
#resumeStyle a {
	color: steelblue;
	text-decoration: none;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 1em;
}
#resumeStyle a:link {color:steelblue;}      /* unvisited link */
#resumeStyle a:visited {color:steelblue;}  /* visited link */
#resumeStyle a:hover {color:steelblue;}  /* mouse over link */
#resumeStyle a:active {color:steelblue;}  /* selected link */

#resumeStyle h2 {
	margin-bottom: 15px;
}

#resumeStyle hr{
	height: 1px;
	border-width: 1px;
}

#resumeStyle:after { 
	content: " "; display: block; clear: both;
}

.thinfont {
	font-weight: 200;
}
.job {
	margin-bottom: 20px;
}
.job:after{
	content: " "; display: block; clear: both;
}

.jobImage {
	float: left;
	display: inline;
	text-align: left;
	width: 30%;
	margin-left: 3%;
	padding-top: 7px;
}
.jobText {
	float: right;
	display: inline;
	width: 65%;
	margin-left: 2%;
}
#downloadbutton, #ctabutton {
	margin-top: 35px;
	margin-bottom: 50px;
}
#downloadbutton a:link, #ctabutton a:link {text-decoration: none; font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; color:white; background-color: steelblue; font-size: 1.2em; padding: 5px;}      /* unvisited link */
#downloadbutton a:visited, #ctabutton a:visited {text-decoration: none; font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; color:white; background-color: steelblue; font-size: 1.2em; padding: 5px;}  /* visited link */
#downloadbutton a:hover, #ctabutton a:hover {text-decoration: none; font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; color:steelblue; background-color: white; font-size: 1.2em; padding: 5px;}  /* mouse over link */
#downloadbutton a:active, #ctabutton a:active {text-decoration: none; font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; color:steelblue; background-color: white; font-size: 1.2em; padding: 5px;}  /* selected link */

#educationStyle{
	margin-bottom: 30px;
}
#educationStyle img, #skillsSection img, #skillsSection a {
	max-width: 100%;
}

/* 

End Resume Section Styling Area 


Begin Skill Section Styling

*/

#skillsSection *{
	color: white;
}

#skillsSection img {
	border: solid black 1px;
	margin-top: 5px;
}
#skillsSection {
	background-color: #333333;
}
#skillsSection:after { 
	content: " "; display: block; clear: both;
}

/*

End Skill Section Styling


Begin Contact Section Styling 

*/
#contactStyle {
	background-color: #D3D3D3;
}
#contactStyle:after { 
	content: " "; display: block; clear: both;
}

#contactForm p {
	font-weight: bold;
}

input[type="text"] {
    width: 200px;
    height: 25px;
    display: block;
    margin-left: 0;
    margin-right: 0;
}
input[name="message"] {
	height: 150px;
	width: 350px;
}
@media screen and (max-width: 400px){
	input[name="message"]{
		width: 280px;
	}
}
@media screen and (max-width: 340px){
	input[name="message"]{
		width: 240px;
	}
}

#contactForm input {
	border: none;
}

/*Very similar to downloadbutton*/
input[type="submit"] {
	width: 150px;
	color: white;
	background-color: steelblue;
	font-size: 1.2em;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	margin-right: 15%;
	margin-left: 0;
	margin-top: 35px;
	border:0 none;
	padding: 5px;
}

/* 

End Contact Section Styling 


Begin Footer Section Styling 

*/
footer{
	display: block;
	width: 100%;
	background-color: #000000;
	color: white;
	padding-top: 35px;
	padding-bottom: 35px;
}
footer:after { 
	content: " "; display: block; clear: both;
}
@media screen and (max-width: 600px) {
	footer {
		height: 160px;
	}
}
footer img{
	margin-left: 10px;
	margin-top: 5px;
}

/* 

End Footer Section Styling 


Begin Carousel Styling 

*/
#carousel {
	width: 100%;
	border:1px solid #ccc;
}
#slides {
    width:800px;
    height:450px;
    overflow:hidden;
    margin: auto;
    text-align: center;
}   
#slides ul {
	position: relative;
    list-style:none;
    height: 450px;  
    width:800px;
    margin: auto;
    text-align: center;
    padding: 0;          
}
#slides li {
	position: relative;
    width:800px;
    height:450px;
    margin: auto;
    text-align: center;   
}
.slide1{
	background-image: url("../img/carousel/slide1-large.jpg");
}
.slide2{
	background-image: url("../img/carousel/slide2-large.jpg");
}
.slide3{
	background-image: url("../img/carousel/slide3-large.jpg");
}
.slide4{
	background-image: url("../img/carousel/slide4-large.jpg");
}

#arrow-left-container, #arrow-right-container {
	height: 450px;
	display: inline-block;
	cursor: pointer;
}
#arrow-right-container {
	float: right;
	padding-right: 10px;
}
#arrow-left-container {
	float: left;
	padding-left: 10px;
}
#arrow-left, #arrow-right {
	margin: auto;
	position: relative;
  	top: 50%;
  	transform: translateY(-50%);
}
#arrow-left {
	border-top: 60px solid transparent;
	border-bottom: 60px solid transparent; 
	border-right:60px solid black;
}
#arrow-right {
	border-top: 60px solid transparent;
	border-bottom: 60px solid transparent;
	border-left: 60px solid black;
}
@media screen and (max-width: 950px) {

	#slides, #slides ul, #slides li {
	    width:500px;
	    height:281px;		
	}
	#arrow-left-container, #arrow-right-container {
	    height:281px;
	}
	#arrow-left {
		border-top: 40px solid transparent;
		border-bottom: 40px solid transparent; 
		border-right:40px solid black;
	}
	#arrow-right {
		border-top: 40px solid transparent;
		border-bottom: 40px solid transparent;
		border-left: 40px solid black;
	}

	.slide1{
		background-image: url("../img/carousel/slide1-medium.jpg");
	}
	.slide2{
		background-image: url("../img/carousel/slide2-medium.jpg");
	}
	.slide3{
		background-image: url("../img/carousel/slide3-medium.jpg");
	}
	.slide4{
		background-image: url("../img/carousel/slide4-medium.jpg");
	}	

}
@media screen and (max-width: 615px) {

	#carousel {
		width: 100%;
		background-color: rgba(0, 0, 0, 0.6);
	}

	#slides, #slides ul, #slides li {
	    width:500px;
	    height:281px
	}
	#arrow-left-container, #arrow-right-container, #arrow-left, #arrow-right, #arrow-right-container, #arrow-left-container {
	    display: none;
	}
}
@media screen and (max-width: 500px) {

	#slides, #slides ul, #slides li {
	    width: 375px;
	    height: 280px;
	}

	.slide1{
		background-image: url("../img/carousel/slide1-small.jpg");
	}
	.slide2{
		background-image: url("../img/carousel/slide2-small.jpg");
	}
	.slide3{
		background-image: url("../img/carousel/slide3-small.jpg");
	}
	.slide4{
		background-image: url("../img/carousel/slide4-small.jpg");
	}	
}
@media screen and (max-width: 374px) {

	#slides, #slides ul, #slides li {
	    width: 320px;
	    height: 280px;
	}

	.slide1{
		background-image: url("../img/carousel/slide1-xtrasmall.jpg");
	}
	.slide2{
		background-image: url("../img/carousel/slide2-xtrasmall.jpg");
	}
	.slide3{
		background-image: url("../img/carousel/slide3-xtrasmall.jpg");
	}
	.slide4{
		background-image: url("../img/carousel/slide4-xtrasmall.jpg");
	}	
}
/* 

End Carousel Styling

*/