/*CSS Sheet for Weather App*/
html{
	padding-top: 25px;
	padding-left: 30%;
	padding-right: 30%;
}
@media screen and (max-width: 1325px) {
	html{
		padding-left: 25%;
		padding-right: 25%;
	}
}
@media screen and (max-width: 1125px) {
	html{
		padding-left: 20%;
		padding-right: 20%;
	}
}
@media screen and (max-width: 925px) {
	html{
		padding-left: 15%;
		padding-right: 15%;
	}
}
@media screen and (max-width: 725px) {
	html{
		padding-left: 10%;
		padding-right: 10%;
	}
}
@media screen and (max-width: 525px) {
	html{
		padding-left: 5%;
		padding-right: 5%;
	}
}
header {
	margin-bottom: 75px;
	height: 5em;
	width: 100%;
	top: 0;
}
h1, h2, h3, p, div, #previous, #next, #location-entry, #button, #powered-by{
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
h1{
  	font-size: 2.2em;
}
h2{
	padding-top: 20px;
	font-size: 1.9em;
	clear: both;
}
h3{
	font-size: 1.7em;
}
p{
  	font-size: 1.3em;
  	clear: both;
}
#location-entry{
	font-size: 1.3em;
}
#button{
	font-size: 1.3em;
	color: white;
	background-color: blue;
	text-decoration: none;
	padding: 5px;
	border: none;
}
#previous, #next{
	font-family: Verdana,Arial,sans-serif;
	font-size: 1em;
	color: white;
	background-color: blue;
	margin-top: 50px;
	text-decoration: none;
	width: 95px;
	height: 40px;
	border: none;
	font-weight: bold;
}
#previous{
	float: left;
	display: inline-block;
}
#next{
	float: right;
	display: inline-block;
}
#currentDate{
	display: inline-block;
	margin-top: 50px;
	margin-left: 25%;
	color: #303030;
}
@media screen and (max-width: 750px) {
	#currentDate{
		margin-left: 20%;
	}
}
@media screen and (max-width: 600px) {
	#currentDate{
		margin-left: 15%;
	}
}
@media screen and (max-width: 450px) {
	#currentDate{
		margin-left: 10%;
	}
}
@media screen and (max-width: 400px) {
	#currentDate{
		margin-left: 5%;
		font-size: .8em;
	}
	#next{
		width: 75px;
	}
}
#button:hover, #button:active, #next:hover, #next:active, #previous:hover, #next:active{
	background-color:darkblue; 
}
.hiddenButton{
	visibility: hidden;
}
.credit{
	font-size: .75em;
}
#wunderground{
	float: right;
	display: inline;
}
#rachel{
	padding-top: 2px;
	float: left;
	display: inline;
}
#day{
	display: inline-block;
	float: left;
	width: 47%;
	padding-right: 3%;
}
#night{
	display: inline-block;
	float: right;
	width: 47%;
	padding-right: 3%;
}